.nav-bar {
  padding: 24px 4%;
  background-color: #fff;
  border-bottom: 1px solid #e8e8e8;
  display: flex;
  align-items: center;
  grid-gap: 40px;
  gap: 40px;
}

.nav-brand {
  font-size: 1.875rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #0290ff;
  text-decoration: none;
}

.nav-links {
  display: flex;
  flex-grow: 1;
  list-style-type: none;
  grid-gap: 40px;
  gap: 40px;
}

.active-link {
  opacity: 1;
  color: #121212;
}

.nav-link {
  font-size: 0.813rem;
  letter-spacing: 1.9px;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
}

.ic-button {
  cursor: pointer;
  width: 2.813rem;
  height: 2.813rem;
  border-radius: 50%;
  border: 1px solid #e8e8e8;
  background-color: #fff;
}
